<div id='aboutBanner' class="banner">
	<div id='aboutTitle' class="bannerTitle">
		<h1>About Holo Image Technology (HIT)</h1>
	</div>
</div>

<div id='aboutContainer'>
<div id='aboutNav' class="contentNav">
	<ul>
		<li><a href="#aboutCompanyText">Company</a></li>
		<li><a href="#aboutClientsText">Partners & Clients</a></li>
		<li><a href="#aboutAwardsText">Awards & Certifications</a></li>
	</ul>
</div>

<div id='aboutContent' class="content">
	<div id='aboutCompanyText'>
	</br>
	<h3>Company</h3>
		<p>Since 1992, HIT has been providing dedicated, one-on-one engineering expertise to clients from all over the world. HIT's contributions and leadership can be found in the research, design, and manufacturing of technologies for a wide variety of purposes, such as industrial grade assemblers, biomedical devices, consumer electronics, commercial pastry printers, and solar powered generators. </br> </br>The company pays close attention to each one of its clients to help them realize their goals more quickly and efficiently with sustainable economic savings. Helping clients achieve success through technical expertise and dedicated service stands as the ultimate goal of HIT.
		</p>
	</div> <!-- end #aboutCompanyText -->
	
	<div id="aboutClientsText">
		<h3>Partners & Clients</h3>
	    <p>The list below highlights the diversity of HIT's past partners and clients in regards to their size, location, and area of specialty. HIT prides itself on its enthusiasm and versatility to pursue and support research endeavors of any scale. For more details on any past projects or on how to collaborate with HIT in the future, please <a href="mailto:info@holoimagetechnology.com">contact us</a> today.</p>
	           <div class="lists">
	           	<h4><u>US</u></h4>
	           	<ul>
	                   <li><a href="http://www.kodak.com">Kodak CTP Research Department</a></li>
	                   <li><a href="http://www.rainbowcomputer.net/">Rainbow Computer Technology</a></li>
	                   <li><a href="http://www.simprnt.com/">Simprint</a></li>
	                   <li><a href="http://www.solarsmartsignage.com">SolarSmart</a></li>
	                   <li><a href="http://www.ezhitech.com">EZHiTech</a></li>
	                   <li><a href="http://www.syska.com">Syska</a></li>
	                   <li><a href="http://www.med.upenn.edu/bgs/">University of Pennsylvania Biomedical Department</a></li>
	                   <li><a href="http://www.fccc.edu">Fox Chase Cancer Center</a></li>
	               </ul>
	               <h4><u>Europe</u></h4>
	               <ul>
	               	<li>Manroland (Germany)</li>
	               	<li>Misomex International (Sweden)</li>
	                   </ul>
	               <h4><u>Asia</u></h4>
	               <ul>
	               	<li>Dalian Ceramic Technology (China)</li>
	                   <li>Golden Mold (Taiwan)</li>
	                   </ul>
	           </div>
	</div> <!-- end #aboutClientText -->
	
	<div id='aboutAwardsText'>
	</br>
	<h3>Awards & Certification</h3>
	<div class="lists">
	        	<ul>
	            	<li>Certified Member of SPIE- The International Society for Optical Engineering
	                <li>Certified by SPIE in Interferometry and Modern Optical Testing
	            	<li>Photo Imaging Corporation Achievement Award for successful completion of the Photon Printer Integration</li>
	            </ul>
	        </div>
	
	</div> <!-- end #aboutCompanyText -->
	
</div> <!-- end #aboutContent -->
</div> <!-- end #aboutContainer -->