<%= provide(:title, 'Contact')%>
<div id='contactBanner' class="banner">
	<div id='contactTitle' class="bannerTitle">
		<h1>Contact Holo Image Technology (HIT)</h1>
	</div>
</div>

<div id='contactLeft'>
    <div id="contactInfo">
		<h3>Details</h3>
	           <p><b>Holo Image Technology</b><br />
	   101 William Leigh Drive<br />
	   Tullytown, PA 19007 USA<br /></p>

	   <div class="contactTable">
		  <table class="tableData">
			  <tr>
			  	<td>Phone: 	</td><td>	+1 (215) 946-2190</td>
			  </tr>
				<tr>
			  	<td>Fax: 	</td><td>	+1 (215) 946-2190</td>
			  </tr>
			  <tr>
					<td>Skype: 	</td><td>	holochiang </td>
				</tr>
			  <tr>
					<td>E-mail: </td><td>	<a href="mailto:info&#64holoimagetechnology.com">info@holoimagetechnology.com</a><br/></td>
				</tr>
				<tr>
					<td>Attn:</td><td>	 Tom Chiang</td>
			  </tr>
			  <br />
		  </table>
			</br>
	   </div>
	</div>

</div>
	<!-- end #contactLeft -->

<div id='contactRight'>
    <div id="contactForm">
		<div id="contactMap">
	        <div id="googlemap">
	        	<iframe width="375" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=101+William+Leigh+Dr,+Tullytown,+PA+19007&amp;sll=37.0625,-95.677068&amp;sspn=34.313287,49.482422&amp;ie=UTF8&amp;hq=&amp;hnear=101+William+Leigh+Dr,+Tullytown,+Bucks,+Pennsylvania+19007&amp;ll=40.142756,-74.810584&amp;spn=0.129388,0.193291&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=101+William+Leigh+Dr,+Tullytown,+PA+19007&amp;sll=37.0625,-95.677068&amp;sspn=34.313287,49.482422&amp;ie=UTF8&amp;hq=&amp;hnear=101+William+Leigh+Dr,+Tullytown,+Bucks,+Pennsylvania+19007&amp;ll=40.142756,-74.810584&amp;spn=0.129388,0.193291&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	        </div>
	        <br/></div></div>
		</div>
	</div>

</div>


<!-- -->
