#aboutBanner {
	background-image: url(/assets/aboutBanner.png);
}

#aboutTitle {
	position: absolute;
	width: 875px;
	top: 7.8em;
	text-align: right;
	font-size: 1.25em;
}

#aboutContent {
	
}
#aboutNav {
	
}
#aboutContent {
	
}