/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	color: black;
	font-family: 'Ruda',
	sans-serif;
	margin: 0;
	background-image: url(tiny_grid.png)
}

#headerDiv {
	width: 100%;
	min-width:960px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );

	border-bottom: 4px solid #FFCC00;
	
	/* NAVIGATION CSS */
	nav {
		height: 85px;
		clear: both;
		ul:after {
			content: ""; 
			clear: both; 
			display: block;
		}
		
		ul {
			li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
			a {
				color: #fff;
			}
		} 
	
		li a { 
			text-decoration: none;
		}
	}
	}
	
	
	#logo {
		background-image:url(/assets/hit-logo.png);
		background-repeat: no-repeat;
		height: 100%;
		width: 163px;
		top: 0.4em;
		position: relative;
		display: inline;
		float: left;
	}
	/*#logo img{
		top: 0.4em;
		float: left;
		position: relative;
	}*/

	#topNav {
		margin-top: 2.7em;
		float: left;
		margin-left: 18.313em;
		list-style: none;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		display: inline-block;
		z-index: 1000;
	}

	.navItem {
		float: left;
		color: #666666;
		height: 40px;
		width: 8.875em;
		border: 1px solid #999999;
		margin-right: 5px;
		text-align: center;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}

	.navArrow {
		display: none;
	}

	.sub {
		margin-top: 6px;
		display: none;
		list-style: none;
		background: #5f6975; 
		border-radius: 0px; 
		padding: 0;
		position: absolute; 
		top: 100%;

		li {
			width: 13em;
			line-height: 40px;
		}
	
		li:hover {
			background: #4b545f;
		}
	}

	.navItem:hover > ul, .navItem:hover > .navArrow {
		display: block;	
	}

	#home_btn, #about_btn, #contact_btn {	
		line-height: 40px;
		
		.navArrow img {
			margin-bottom: 10px;
		}
	}

	#products_btn {
		vertical-align: middle;
		line-height: 20px;
	}
	
	a:visited {
		color: rgb(60, 60, 60);
	}
	/* END NAVIGATION */
}

/* START OVERALL CONTAINER */
.container, nav, #footerContainer {
	width: 880px;
	margin: auto;
}

.container {
	min-height: 100%;
	overflow: hidden;
}
/* END OVERALL CONTAINER */

.banner {
	background-repeat: no-repeat;
	height: 150px;
}

.bannerTitle {
	color:white;
	position: absolute;
	width: 875px;
	top: 7.8em;
	text-align: right;
	font-size: 1.25em;
}

.contentContainer {
	display: inline-block;
	height: 20em;
	
	.contentNav {
		height: inherit;
		width: 11.825em;
		float:left;
		padding-top: 0.5em;
		padding-right: 0.8em;
		background-color: rgb(213, 213, 213);
		a {
			text-decoration: none;
		}
		a:visited {
			color: rgb(37, 50, 99);
		}
		li {
			padding-bottom: 1em;
			list-style: none;
		}
		li a:hover {
			color: rgb(177, 131, 15);
		}
	}
	
	.content {
		a {
			text-decoration: none;
			font-weight: bold;
		}
		a:visited {
			color: blue;
		}
		height: inherit;
		padding-left: 1em;
		padding-right: 1em;
		border-left: 2px solid white;
		float: left;
		width: 40.25em;
		overflow: scroll;
		p {
			line-height: 1.25em;
		}
	}

}

.notice {
	color: red;
	font-weight: bold;
	font-style: oblique;
}

/* FOOTER */
footer {
	font-size: 10px;		
	background-color: black;
	height: 3em;
	padding: 0.25em;
	color: #6FB7F9;
	position: absolute;
	width: 100%;
	#copyrightInfo {
		float: left;
	}
	#footerLinks {
		list-style: none;
		float: right;
		a {
			text-decoration: none;
		}
		a:visited {
			color: #6FB7F9;
		}
		li {
			float: left;
			margin: 0 5px 0 5px;
			a:hover {
				color: rgb(177, 131, 15);
			}
		}	 
	}
}





