#productBanner {
	background-image: url(/assets/productBanner.png);
}

#productTitle {

}

#productContent {
	
}
#productNav {
	ul {
		padding-left: 26px;
	}

}
#productContent {
	
}
.productImages {
	width: 30em;
	margin: auto;
}