<p>Type in product image URLS</p>
<fieldset class="image_urls">
     <%= f.text_field :title %>
 	 <%= f.text_field :imageURL %>
	 <%= link_to "remove", '#', class: "remove_fields" %>
	<%#= link_to_function "remove", "$(this).up('.image').remove()" %>
</fieldset>