<div id='productBanner' class="banner">
	<div id='productTitle' class="bannerTitle">
		<h1>HIT Products & Services</h1>
	</div>
</div>

<div id='productContainer' class="contentContainer">
	<div id='productNav' class="contentNav">
		<ul>
   	 	<% @products.each do |product| %>
		<li><%= link_to product.title, product %></li>
		<% end %>
		</ul>
		
	</div>
	
	<div id='productContent' class="content">