<%= render 'productLayout' %>

	<div id='productText'>
	
	<h3>Products & Services</h3>
	<p>HIT strives to deliver tangible solutions. HIT works continuously, both closely with partners or independently by utilizing its fully-equipped laboratory, in identifying rising challenges in industry and then designing, perfecting, and manufacturing technologies specifically tailored to address them. Following this mindset, HIT has an established history of successful products which it looks forward to extending. If you wish for more information on a certain technology that is not provided here or have inquiries about a possible future collaboration, please do not hesitate to <a href="mailto:info@holoimagetechnology.com">contact us</a>.  </p>
	</div> <!-- end #productText -->
	
	
</div> <!-- end #productContent -->
</div> <!-- end #productContainer -->