<div id='productBanner'>
	
	<div id='productTitle'>
		<h1>HIT Products & Services</h1>
	</div>
</div>

<div id='productContainer'>
<div id='productNav'>
	<ul>
		<!-- <li><a href="#productCompanyText">Company</a></li>
		<li><a href="#productClientsText">Partners & Clients</a></li>
		<li><a href="#productAwardsText">Awards & Certifications</a></li> -->
			<li><a href="/products/index.html">Product Information</a></li>
			<li><a href="/products/solarsign.html">Solar Panel &amp; Sign Technology</a></li>
			<li><a href="/products/CTPthermal.html">Thermal Head for CTP</a></li>
			<li><a href="/products/mbeamDigPrinter.html">Optical Laser System Repair</a></li>
			<li><a href="/products/hit-plater2230.html">CTP - Plater 2230</a></li>
			<li><a href="/products/hit-plater2332.html">CTP - Plater 2332</a></li>
			<li><a href="si-1000.html">Surface Inspector</a></li>
			<li><a href="patents.html">Patents & Inventions</a></li>
	</ul>
</div>

<div id='productContent'>
	<div id='productText'>
	</br>
	<h3>Products & Services</h3>
	<p>HIT strives to deliver tangible solutions. HIT works continuously, both closely with partners or independently by utilizing its fully-equipped laboratory, in identifying rising challenges in industry and then designing, perfecting, and manufacturing technologies specifically tailored to address them. Following this mindset, HIT has a history of successful products that stretches for over a decade and which it looks forward to extending. If you wish for more information on a certain technology that is not provided here or have inquiries about a possible future collaboration, please do not hesitate to <a href="mailto:info@holoimagetechnology.com">contact us</a>.  </p>
	</div> <!-- end #productText -->
	
	
</div> <!-- end #productContent -->
</div> <!-- end #productContainer -->