<footer>
	<div id="copyrightInfo">
		<p>Copyright © 2013 Holo Image Technology. All rights reserved.</p>
	</div>
	<ul id="footerLinks">
			<li>
				<a>Home</a>
			</li>
			<li>
				<a>About</a>
			</li>
			<li
				<a>Products & Services</a>
			</li>
			<li>
				<a>CONTACT</a>
			</li>
	</ul>
</footer>